.body{
  /*padding: 8px;*/
  font-family: Ubuntu;
}
.experiences{
  padding: 24px;
  background-color: #fff3f2;
}
.sectionHeading{
  width: 100%;
  color: #EE4338; 
}
.experiencesCardsList{
  align-items: center;
  padding: 0px;
  padding-inline-start: 0px;

  
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experienceCardInside{
  display: flex;
  flex-direction:center;
  margin: 10px;
}
.experienceCardCompanyLogo{
  width: 100px;
  border-radius: 50%;
  border-width: 3;
  overflow: hidden;
  border-color: red;
}
.experienceCardDescription{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experienceCardCompanySection{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.recommendations{
  padding: 24px;
  background-color: #cef8ff;
}
.recommendationsList{
  padding: 0px;
  text-align: center;
}
.recommendation{
  width: 90%;
  max-width: 800px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px #0000003a;
}
.recommendation:hover{
  box-shadow: 0px 0px 4px 4px #f0ae9e;
}

.connect{
  padding: 24px;
  background-color: #fff3f2;
}

.footer{
  height: 50px;
  background-color: #303030;
  text-align: center;
  color: #ffffff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
special{
  color: #EE4338;
}

@media (max-width: 768px) {
  .experienceCardInside{
    display: flex;
    flex-direction:column;
    margin: 10px;
  }
.experienceCardDescription{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experienceCardCompanySection{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
@media (max-width: 425px) {
.experienceCardInside{
  font-size: 3vw;
}
}
}