a{
  text-decoration: none;
}

.body{
  /*padding: 8px;*/
  font-family: Ubuntu;
}

.about{
  width: 100%;
  height: 95vh;
  background-color: #9fd8ff;
  position: relative;
  .name{
    position: absolute;
    top: 30%;
    left:10%;
    width: 500px;
    font-size: xxx-large;
    white-space: nowrap;
    color: #EE4338;
  }
  .links{
    position: absolute;
    top:40%;
    left: 10%;
    width: 380px;
    display: flex;
    justify-content: space-between
    }
}

.myPic{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
}

.experiences{
  padding: 24px;
  background-color: #fff3f2;
}
.sectionHeading{
  width: 100%;
  color: #EE4338; 
}
.experiencesCardsList{
  align-items: center;
  padding: 0px;
  padding-inline-start: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experienceCardInside{
  display: flex;
  flex-direction:center;
  margin: 10px;
}
.experienceCardCompanyLogo{
  width: 100px;
  border-radius: 50%;
  border-width: 3;
  overflow: hidden;
  border-color: red;
}
.experienceCardDescription{
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experienceCardCompanySection{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.recommendations{
  padding: 24px;
  background-color: #cef8ff;
}
.recommendationsList{
  padding: 0px;
  text-align: center;
}
.recommendation{
  width: 90%;
  max-width: 800px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px #0000003a;
}
.recommendation:hover{
  box-shadow: 0px 0px 4px 4px #f0ae9e;
}

.connect{
  padding: 24px;
  background-color: #fff3f2;
}

.footer{
  height: 50px;
  background-color: #303030;
  text-align: center;
  color: #ffffff;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
special{
  color: #EE4338;
}
.social-icon{
  transition-property: all;
  transition-duration: 200ms;
  
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  padding: 0;
  background-color:#1861e7;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;

  -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 5px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 5px;
 box-shadow: rgba(0,0,0,0.8) 0 0 5px;
}
.social-icon:hover{
  transition-property: all;
  transition-duration: 200ms;
  width: 45px;
  height: 45px;

  font-size: 1.5rem;

  -webkit-border-radius: 20px;
 -moz-border-radius: 20px;
 border-radius: 20px;
 -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
 -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
 box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}


@media (max-width: 768px) {
  .experienceCardInside{
    display: flex;
    flex-direction:column;
    margin: 10px;
  }
.experienceCardDescription{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.experienceCardCompanySection{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}
.myPic{
  
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
}
}
@media (max-width: 425px) {
  .experienceCardInside{
    font-size: 3vw;
  }
}